.env
.env.example
__pycache__/
*.pyc
.venv/
venv/
python/
.idea/
.vscode/
output/**
!output/**/
!output/**/*.srt
*.bak
logs/
build/
dist/
installer_build/
*.spec
*.srt
!samples/*.srt
!output/**/*.srt
uploads/
